<div class="container">
    <div class="creepy-container">
        <p>Si no tienes mascotas resulta que hay una probabilidad muy baja de que aparezca un huevo del que saldrá una mascota aleatoria. Esta es la única manera de conseguir algunos de los <a href="/rain">gatos secretos</a> del juego, los cuales ya de por sí son EXTREMADAMENTE raros.</p>
        <p>Así que sacar estos gatos consiste básicamente en esperar a que aparezca un huevo, hacer que eclosione y tirar montones de gatos hasta que consigas el personaje perfecto (Esto causó otros problemas pero lo explicaré en otro momento XP)</p>
        <p>Pero, un día, mientras intentaba conseguir al gato definitivo, ocurrió algo extraño.    </p>
        <p>Un huevo blanco apareció en mi pantalla, pero venía con un mensaje. "ESPECIAL"    </p>
        <p>Estaba muy emocionada. Nunca había conseguido un huevo especial. De hecho nunca había oído hablar de nada parecido. Me pasé como una hora esperando para ver qué saldría de él. ¿Y si me convertía en la primera en descubrir un gato completamente nuevo?    </p>
        <p>Pero lo raro es que el huevo nunca llegó a eclosionar. Empecé a preocuparme por la posibilidad de que se tratase de alguna especie de glitch, así que intenté deshacerme de él antes de que dañase mi ordenador... y ahí fue cuando las cosas se pusieron REALMENTE extrañas.    </p>
        <p>Sin importar lo que hiciese, no podía ni mover ni tirar el huevo.    </p>
        <p>Probé a hacer clic sobre él una y otra vez, pero lo único que hacía era reproducir una especie de sonido extraño.    </p>
        <p>Esto me asustó tantísimo que borré el juego y lo reinstalé. ... pero el huevo seguía ahí. (Obviamente XP)    </p>
        <p>Ahora que soy más mayor, creo que lo que ocurrió fue que tenía tantos mods instalados que el huevo no sabía en qué convertirse? Pero en aquella época pensaba que mi ordenador estaba maldito o algo así, o que el huevo iba a matarme XD    </p>
        <p>Tras estar aterrorizada durante varias horas, acabé haciendo frente a mis miedos y abrí de nuevo el juego. El huevo estaba ahí, pero no parecía hacer nada. Así que empecé a criarlo como si fuese una mascota normal, cepillándolo y jugando con él y tal.    </p>
        <p>Para cuando el sol se puso, empecé a pensar que era una mascota chula y que podría intentar averiguar cómo subirla a internet como un mod.    </p>
        <p>Pero no pude hacerlo.    </p>
        <p>Al día siguiente, cuando abrí el juego, el huevo había desaparecido. En su lugar, había un mensaje que decía "se fue de casa por felicidad".    </p>
        <p>Normalmente el mensaje dice "(mascota) se fue de casa por tristeza" y solo ocurre cuando no cuidas de tu mascota. Se supone que no debería ocurrir cuando te portas bien con ellas XD    </p>
        <p>¡Una última cosa!    </p>
        <p>El huevo tenía nombre pero no recuerdo cuál era. Me lleva volviendo loca desde entonces. Si alguien ha visto un huevo como este en su partida, POR FAVOR <a href="/code/">firma mi libro de visitas</a>. POR FAVOR. El primero se lleva 100 puntos imaginarios de mi parte XP</p>
    </div>
    
</div>
