<div id="inicio" class="inicio-container">
    <img src="assets/images/deltarune-background.png" alt="Fondo deltarune" class="inicio-background">
    <div class="inicio-text-container noselect">
        <div class="inicio-text-big">¡Bienvenidos a DeltaESP!</div>
        <div class="inicio-text-small">Aquí podrás encontrar y disfrutar de todas nuestras traducciones.</div>
    </div>
</div>
<div id="tradus" class="tradus">
    <div class="tradus-title">DESCARGAS</div>
    <div class="tradus-container">
        <div class="tradus-box">
            <div>* Necesitas Undertale 1.08</div>
            <a target="_blank" class="noselect" href="https://mega.nz/file/UhFXlJzD#NE3jtA6VdQ8-s8tQ6_1A8m7g1OQLk33IkeQYw4-OAns" style="background-image: url('assets/images/tradu-undertale.png');"></a>
        </div>
        <div class="tradus-box">
            <div>* Necesitas Deltarune 1.16 o 1.19</div>
            <a target="_blank" class="noselect" href="https://mega.nz/file/c90lXASK#Frw1IuBSQb4IHoh6uZVaI1gfEewtuTd39-najtuIbOI" style="background-image: url('assets/images/tradu-deltarune.png');"></a>
        </div>
        <div class="tradus-box">
            <div>* Necesitas Undertale Yellow 1.1.0</div>
            <a target="_blank" class="noselect" href="https://mega.nz/file/AkM3wLyR#sABJ7k6jKrFcgIKBZzgnD5zMGZvl3wfDtKLCiecudDc" style="background-image: url('assets/images/tradu-uty.png');"></a>
        </div>
        <div class="tradus-box">
            <div>* Necesitas Ribbit Mod 2.0.10</div>
            <a target="_blank" class="noselect" href="https://mega.nz/file/Vot0FYaS#wrSDDTmPGtvv2_h2h47sOaRPPmudZZ2SIFsigploNfU" style="background-image: url('assets/images/tradu-ribbit.png');"></a>
        </div>
        <div class="tradus-box">
            <a target="_blank" class="noselect" href="https://gamebanana.com/mods/491652" style="background-image: url('assets/images/tradu-together.png');"></a>
        </div>
        <div class="tradus-box">
            <div>* Necesitas Bits and Pieces Metal&Magic</div>
            <a target="_blank" class="noselect" href="https://mega.nz/file/Qk90RZLA#ETuEYFMrhxWDKu_Oc-Q52zEVPJe1YQXH5b0RBhn4iQ4" style="background-image: url('assets/images/tradu-bits.png');"></a>
        </div>
    </div>
</div>

<div class="footer">
    <div class="about-us">
        <div class="footer-title">DeltaESP</div>
        <div class="footer-description">Somos un grupo de fans dedicados a traducir al español los juegos de Toby Fox y 
            otros proyectos de fans relacionados con estos.<br><br>Si tienes alguna duda sobre nuestras 
            traducciones o necesitas ayuda, no dudes en <a target="_blank" href="https://discord.gg/mWAbyeRBAa">unirte a nuestro servidor de Discord</a>, publicar 
            un comentario en el <a target="_blank" href="https://www.youtube.com/@arceuse1999/videos">canal de Youtube de ArceUseless</a> o enviarle un mensaje privado por <a target="_blank" href="https://x.com/ArceUseless">Twitter/X</a>. 
            <br><br>¡Esperamos que disfrutes del fruto de nuestro trabajo! </div>
    </div>
    <div class="conectar">
        <div class="footer-title">Conectar</div>
        <div class="us-section">
            <div class="footer-description">ArceUseless (Líder y traductor principal)</div>
            <div class="social-box">
                <a target="_blank" href="https://x.com/ArceUseless" style="background-color: #1DA1F2;"><img src="assets/images/twitter-white.svg" alt="Logo Twitter" class="media-logo"></a>
                <a target="_blank" href="https://www.youtube.com/@arceuse1999/videos" style="background-color: #CE1312;"><img src="assets/images/youtube-white.svg" alt="Logo Youtube" class="media-logo"></a>
            </div>
        </div>
        <div class="us-section">
            <div class="footer-description">Daiki (Administrador del Discord e ilustrador)</div>
            <div class="social-box">
                <a target="_blank" href="https://x.com/DaikiHolo" style="background-color: #1DA1F2;"><img src="assets/images/twitter-white.svg" alt="Logo Twitter" class="media-logo"></a>
            </div>
        </div>
    </div>
    <div class="starwalker">
        <img src="assets/images/original-starwalker.png"  alt="Starwalker (El original)" >
    </div>
    
</div>
